.App {
  text-align: center;
}

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow-x: hidden
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


/* color palletee */
:root {
  --violet: rgba(60, 0, 60, 0.639);
  --blue:rgba(48, 17, 159, 0.639);
}

.button {
  border-radius: 30px;
  border: none;
  color: white;
  font-size: 16px;
  padding: 10px;
  background: linear-gradient(180deg, violet 26.71%, rgb(67, 2, 67) 99.36%);
  box-shadow: 0px 20px 24px 3px rgb(76, 75, 75);
  transition: background-color 0.3s, color 0.3s;
}

.button:hover {
  background: whitesmoke;
  cursor: pointer;
  color: var(--violet);
  background-color: rgb(86, 25, 128);
  color: #fff;
  border: 1px solid rgb(24, 3, 24);
}
@media screen and (max-width:900px) {
  .App{
    padding: 0.9rem 1rem;
    overflow-y: hidden;

  }
}